.container{
  max-width: 1050px;
}

section {
	.wrapper {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	img {
		margin: auto;
	}
}

.page-title-section {
  background: #f1f2f2;
  text-align: center;
  padding: 30px 0 40px;
	position: relative;
	
	h1 {
		font-family: 'Agency FB', sans-serif;
		font-size: 50px;
	}
}

#page-contents {
  padding: 30px 0 50px;
}

.btn-primary{
	background: #27aae1;
	padding: 7px 25px;
	border: none;
	font-size: 14px;
	border-radius: 4px;
	color: #fff;
	position: relative;
  font-weight: 600;
  outline: none;
	border-radius: 30px;
	
	&:hover {
		background: #149AC9;
  	transition: all 1s;
	}
}

.btn-secondary{
	background: linear-gradient(to bottom, rgba(109,110,113,1), rgba(0,0,0,1));
	padding: 0 40px;
	border: none;
	min-height: 36px;
	font-size: 18px;
	border-radius: 6px;
	color: #fff;
	position: relative;
  outline: none;
}

.btn-secondary:hover{
	background: #000;
  transition: all 1s;
}

img.profile-photo{
  height: 58px;
  width: 58px;
  border-radius: 50%;
}

img.profile-photo-lg{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

img.profile-photo-md{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

img.profile-photo-sm{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

img.profile-photo-xs{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.img-wrapper{
	position: relative;
	
	&:after {
		content: "";
  	cursor: pointer;
  	left: 0;
  	position: absolute;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	transition: all 1s ease 0s;
	}

	&:hover:after {
		background-color: rgba(0,0,0, 0.4);
	}
}

ul {
	padding-left: 15px;
	
	li {
		list-style-image: url("../images/bullet.png");
	}
}

.line{
  background: #f1f2f2;
  height: 1px;
  width: 100%;
  margin-bottom: 10px;
}

.line-divider{
  background: none;
  height: 1px;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}

.map{
  width: 100%;
  height: auto;
  border: none;
}

.static{
  position: static;
}

textarea{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.custom-label{
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}

.form-control{
  background: #fff;
  border: 1px solid #f1f2f2;
  box-shadow: none;
  border-radius: 4px;
  color: #939598;
  width: 100% !important;
}

.screen-reader-text{
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  word-wrap: normal !important;
  border: 0 none;
}