.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  background-color: rgba(0,0,0, 0.5);
  .popup-inner {
    background-color: #F5F5F5;
    padding: 40px 20px;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 20%;
    bottom: 20%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    #close-popup {
      outline: none;
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      background: #F5F5F5;
    }
    button#publish.btn.btn-primary {
      margin-top: 30px;
      outline: none;
    }
    .input-type-file{
      display: none;
    }
    .form-group {
      clear: both;
      width: 100%;
      input.form-control {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
        float: right;
      }
      textarea.form-control {
        margin: 10px;
      }
    }
    label{
      padding: 5px;
      float: left;
      i {
        color: #6d6e71;
        font-size: 30px;
        margin-right: 10px;
      }
    }
    .selectedFile {
      float: left;
      max-width: 50%;
      max-height: 50%;
    }
  }
}